{% extends "layout/base.html" %}

{% block title %}Reset hesla{% endblock %}

{% block content %}

<div class="main-page">

    <div class="login-wrapper">

        <form class="login-card" method="POST">

            <h1>Reset hesla</h1>

            {% if chyba %}
                <p class="error-message">{{ chyba }}</p>
            {% endif %}

            <label>Nové heslo <span>*</span></label>
            <div class="input-box">
                <span>🔒</span>
                <input
                    type="password"
                    id="reset-password"
                    name="password"
                    required
                    minlength="8"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$"
                    title="Heslo musí mať minimálne 8 znakov, jedno veľké písmeno, jedno malé písmeno a jednu číslicu."
                >
                <button type="button" onclick="togglePassword('reset-password')">👁</button>
            </div>

            <div class="password-info">
                <strong>Heslo musí obsahovať:</strong>
                <p>✓ minimálne 8 znakov</p>
                <p>✓ jedno veľké písmeno</p>
                <p>✓ jedno malé písmeno</p>
                <p>✓ jednu číslicu</p>
            </div>

            <label>Zopakuj nové heslo <span>*</span></label>
            <div class="input-box">
                <span>🔒</span>
                <input
                    type="password"
                    id="reset-password2"
                    name="password2"
                    required
                    minlength="8"
                >
                <button type="button" onclick="togglePassword('reset-password2')">👁</button>
            </div>

            <button type="submit" class="login-btn">
                Zmeniť heslo
            </button>

        </form>

    </div>

</div>

<script>
function togglePassword(id) {
    const input = document.getElementById(id);

    if (input.type === "password") {
        input.type = "text";
    } else {
        input.type = "password";
    }
}
</script>

{% endblock %}